<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BrightnessControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BrightnessControl.Properties.Settings>
            <setting name="VolumeUpModifiers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeUpKey" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="VolumeDownModifiers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeDownKey" serializeAs="String">
                <value>87</value>
            </setting>
        </BrightnessControl.Properties.Settings>
    </userSettings>
</configuration>